<?xml version="1.0"?>
<model>
  <name>RoboCon 2027 Field</name>
  <version>1.0.0</version>
  <sdf version="1.7">model.sdf</sdf>
  <author>
    <name>RoboCon 2027 field conversion</name>
  </author>
  <description>Static RoboCon 2027 field converted from the supplied SolidWorks STEP assembly.</description>
</model>
